{% extends "layout.html" %}

{% block page_title %}Instructor Dashboard{% endblock %}

{% block content %}

    <a href="{{ url_for('instructor.advising') }}" class="card">
        <h2>ADVISING</h2>
        <p>Add/remove advisees</p>
    </a>

    <a href="{{ url_for('instructor.prerequisites') }}" class="card">
        <h2>PREREQUISITES</h2>
        <p>Modify course prerequisites</p>
    </a>

    <a href="{{ url_for('instructor.section') }}" class="card">
        <h2>SECTIONS</h2>
        <p>Check sections teaching based on the semester</p>
    </a>

    <a href="{{ url_for('instructor.additional') }}" class="card">
        <h2>ANALYTICS</h2>
        <p>Additional queries</p>
    </a>
</div>
{% endblock %}