<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav class="navbar">
        <h1 class="nav-title">{% block page_title %}{% endblock %}</h1>
        <div class="nav-right">

             <a href="{{ url_for(session['role'] + '.dash') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20">
                    <path fill="#5880b9" d="m16 8.5l1.53 1.53l-1.06 1.06L10 4.62l-6.47 6.47l-1.06-1.06L10 2.5l4 4v-2h2zm-6-2.46l6 5.99V18H4v-5.97zM12 17v-5H8v5z" />
                </svg>
            </a>

            <a href="{{ url_for(session['role'] + '.personal') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                    <path fill="#5880b9" fill-rule="evenodd" d="M8 7a4 4 0 1 1 8 0a4 4 0 0 1-8 0m0 6a5 5 0 0 0-5 5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3a5 5 0 0 0-5-5z" clip-rule="evenodd" />
                </svg>
            </a>
            <a href="{{ url_for('auth.logout') }}" class="logout">LOGOUT</a>
        </div>
    </nav>

        <main class="dashboard-content">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error-container">
                    {% for message in messages %}
                        <div class="error">
                        {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
        </main>
</body>
</html>