<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="auth-page">
    <div class="auth-wrapper">
        <div class="auth-container">
            <h2>Sign Up</h2>
            <form action="{{ url_for('auth.signup') }}" method="post">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="input-group">
                <label>Role</label>
                <select name="role">
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="input-group">
                <label>ID</label>
                <input type="text" name="input_id">
            </div>
            <div class="form-other">
                <button type="submit" class="btn-submit">Sign Up</button>
                <p class="other-link"><a href="{{ url_for('auth.login') }}">Have an account? Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>